/* #region: Global */

/* debug styles */
* {
  outline: 1px solid #0289791c !important;
  /* background-color: hsl(50 100% 50% / 0.1) !important; */
  /* box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5) !important; */
  /* color: hsla(0, 0%, 0%, 0.49) !important; */
}

.hidden {
  display: none;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #22343d;
  background-color: #fff;
}

img {
  display: block;
  /* width: 100%; */
  /* height: auto; */
}
/* reset list style */
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* reset h style */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* reset p style */
p {
  margin: 0;
  padding: 0;
}

/* reset button style */
button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  box-shadow: none;
  /* transition: box-shadow 0.3s ease-in-out; */
}
button:hover {
  /* box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35); */
}

/* remove link underline */
a {
  text-decoration: none;
  color: inherit;
}

/* container */
.container {
  margin: 0 auto;
}

.section-side-part {
  /* flex positioning */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bold {
  font-weight: 600;
}
/* #endregion Global */

/* #region: Header --------------------------------------- */

header {
}

header .container {
  max-width: 411px;
  padding: 17px 27px 17px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.25);
}

.top-logo-link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}

.mobile-menu-btn {
  stroke: #173a56;
  background-color: transparent;
  border: none;
}

.mobile-menu-btn-icon {
  display: block;
}

.logo-image {
}

.nav-block {
  display: none;
}

@media screen and (min-width: 1150px) {
  header .container {
    max-width: 1150px;
    padding-block: 0;
    padding-inline: 20px;
    box-shadow: none;
  }
  .top-logo-link {
    gap: 16px;
  }
  .mobile-menu-btn {
    display: none;
  }
  .nav-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 73px;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .nav-list-link {
    color: #22343d;
    line-height: 1.75;
    display: block;
    padding: 25px 0;
    border-bottom: 1px solid transparent;
    transition: color 0.3s ease-in-out, border-bottom 0.5s ease-in-out;
  }

  .nav-list-link:hover {
    border-bottom: 1px solid #02897a;
    text-shadow: 0 0 0.8px currentColor, 0 0 0.8px currentColor;
  }

  .auth-list {
    display: flex;
    align-items: center;
    gap: 21px;
  }

  .sign-in-btn,
  .sign-up-btn {
    line-height: 1.5;
    border-radius: 4px;
    padding: 10px 25px 9px;
    font-weight: 600;
    transition: box-shadow 0.3s ease-in-out;
  }

  .sign-in-btn:hover,
  .sign-up-btn:hover {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35);
  }

  .sign-in-btn {
    background: #fff;
    border: 1px solid #bcd0e5;
    color: #173a56;
  }
  .sign-up-btn {
    background: #02897a;
    border: none;
    color: #fff;
  }
}
/* #endregion: Header --------------------------------------- */

/* #region: Hero --------------------------------------- */
.hero-sect .container {
  max-width: 411px;
  padding: 17px 27px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}
.hero-svg-image {
  max-width: 338px;
  max-height: 311px;
}
.hero-svg-image use {
}
