/* #region: Global */

body {
  font-family: 'Poppins', sans-serif;
  color: #22343d;
}

/* reset list style */
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* reset h style */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* reset p style */
p {
  margin: 0;
  padding: 0;
}

/* reset button style */
button {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

/* remove link underline */
a {
  text-decoration: none;
  color: inherit;
}

/* container */
.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-side-part {
  /* flex positioning */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bold {
  font-weight: 600;
}
/* #endregion Global */

/* #region: Header */
header {
  /* background-color: #b2b2b2; */
}

header .container {
  /* Flex positioning */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.top-logo-link {
  /* Flex positioning */
  display: flex;
  align-items: center;
  gap: 16px;
  /* Typography */
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
}

.logo-image {
}

.nav-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 73px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-list-link {
  /* Typography */
  line-height: 1.75;
  /* positioning */
  display: block;
  padding: 25px 0;
  border-bottom: 2px solid #fff;
}
.nav-list-link:hover {
  color: #02897a;
  border-bottom: 2px solid #02897a;
}

.auth-list {
  /* Flex positioning */
  display: flex;
  align-items: center;
  gap: 21px;
}

.sign-in-btn,
.sign-up-btn {
  border-radius: 4px;
  height: 42px;
  padding: 0 25px;
}

.sign-in-btn {
  background: #fff;
  border: 1px solid #bcd0e5;
  min-width: 105px;
}
.sign-up-btn {
  background: #02897a;
  border: none;
  min-width: 113px;
}

/* #endregion: Header */

/* #region: Hero Section */
.hero-sect {
  padding-top: 25px;
  padding-bottom: 50px;
}
.hero-sect > .container {
  /* flex positioning */
  display: flex;
}

.hero-lp-title {
  /* colors and border*/
  color: #22343d;
  /* typography */
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  /* margins */
  margin-bottom: 18px;
}
.hero-lp-text {
  /* colors and border*/
  color: #22343d;
  /* typography */
  font-size: 18px;
  line-height: 1.56;
  /* margins */
  margin-bottom: 45px;
  /* dimentions */
  max-width: 465px;
}

.hero-lp-btn-list {
  /* flex positioning */
  display: flex;
  gap: 30px;
}

.getstarted-btn {
  /* colors and border*/
  color: #fff;
  background-color: #02897a;
  border: none;
  border-radius: 4px;
  /* typography */
  font-weight: 700;
  /* dimentions */
  min-width: 178px;
  height: 53px;
}

.watchvideo-btn {
  /* flex positioning */
  display: flex;
  align-items: center;
  gap: 9px;
  /* colors and border*/
  color: #02897a;
  background-color: #fff;
  border: 0;
  /* typography */
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  /* dimentions */
  min-width: 164px;
  height: 53px;
}
/* #endregion: Hero Section */

/* #region: Product Section */
.product-sect {
  padding-top: 50px;
  padding-bottom: 25px;
}
.product-sect .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 50px; */
}
.product-title {
  color: #22343d;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  max-width: 520px;
  margin: 0 auto 50px auto;
}
.product-list {
  display: flex;
  gap: 30px;
}
.product-list li {
  width: calc((100% - 3 * 30px) / 4);
}

.rounded-rect {
  width: 54px;
  height: 54px;
  border-radius: 19px;
  background-color: #bcd0e5;
  margin-bottom: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fff;
}

.firstclick {
  background: #02897a;
}
.design {
  background: #4d8dff;
}
.preference {
  background: #740a76;
}
.fivesecond {
  background: #f03e3d;
}

.prod-item-title {
}
.prod-item-text {
  /* text-align: justify; */
}

.prod-btn {
  border: none;
  font-weight: 700;
  color: #fff;
  margin: 50px auto;
  border-radius: 4px;
  width: 175px;
  height: 53px;
  background: #02897a;
}
/* #endregion: Product Section */

/* #region: Management Section */
.management-sect {
  padding-top: 25px;
  padding-bottom: 50px;
}

.management-sect > .container {
  /* flex positioning */
  display: flex;
  gap: 84px;
}

.manag-sect-list {
}

.manag-list-item-title {
  font-weight: 600;
  color: #22343d;
  margin-bottom: 25px;
}
.manag-list-item-title > span {
  display: block;
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  margin-top: 8px;
}

.manag-list-item-text {
  /* line-height: 26px; */
  line-height: 1.63;
  color: #22343d;
  margin-bottom: 30px;
}
/* #endregion: Management Section */

/* #region: Support Section */
.support-sect {
  padding-top: 50px;
  padding-bottom: 50px;
}
.support-sect > .container {
  /* flex positioning */
  display: flex;
  gap: 84px;
}
.support-sect-title {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
  margin-bottom: 25px;
}
.support-sect-title > span {
  display: block;
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  margin-top: 8px;
}
.support-sect-text {
  line-height: 1.63;
  color: #22343d;
  margin-bottom: 30px;
}
.support-sect-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}
.orange {
  background-color: #f90;
}
.red {
  background: #f03e3d;
}
.blue {
  background: #4d8dff;
}
.support-sect-item {
  /* line-height: 26px; */
  line-height: 1.625;
  color: #22343d;
  display: flex;
  align-items: flex-end;
  gap: 30px;
  align-items: center;
  min-width: 450px;
}
.tick-rectangle {
  min-width: 35px;
  min-height: 35px;
  border: 2.92px solid #fff;
  border-radius: 14px;
  /* inner tick symbol positioning */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fff;
}
/* #endregion: Management Section */

/* #region: Optimisation Section */
.optimisation-sect {
  padding-top: 75px;
  padding-bottom: 50px;
}
.optimisation-sect > .container {
  /* flex positioning */
  display: flex;
  align-items: center;
  gap: 84px;
}
.optimisation-sect-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.optimisation-item-title {
  font-weight: 600;
  color: #22343d;
  margin-bottom: 25px;
}
.optimisation-item-title > span {
  display: block;
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  margin-top: 8px;
}
.optimisation-item-text {
  line-height: 1.63;
  color: #22343d;
}
/* #endregion: Optimisation Section */

/* #region: Process Section */
.process-sect {
  padding-top: 50px;
  padding-bottom: 75px;
}
.process-sect > .container {
}
.process-sect-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  margin-bottom: 25px;
}
.process-sect-text {
  font-weight: 500;
  /* line-height: 26px; */
  line-height: 1.625;
  text-align: center;
  color: #22343d;
  margin-bottom: 40px;
}
.process-sect-list {
  display: flex;
  margin-bottom: 50px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px 100px;
  min-width: 916px;
}
.process-list-item {
  display: flex;
  min-width: calc((100% - 100px) / 2);
  align-items: center;
  /* justify-content: space-between; */
}
.process-list-item-image {
}
.process-list-item-box {
  padding: 0 10px;
  flex-grow: 1;
}
.process-list-item-text {
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
  color: #2f281e;
  fill: #fff;
  box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
  padding: 13px 20px;
  height: 50px;
  border-radius: 25px;
  min-width: 100%;
}
.process-sect-button {
  font-weight: 700;
  color: #fff;
  display: block;
  margin: 0 auto;
  width: 216px;
  height: 53px;
  border: none;
  border-radius: 4px;
  background: #02897a;
}
/* #endregion: Process Section */

/* #region: Strategies Section */
.strategies-sect {
  padding-top: 50px;
  padding-bottom: 86px;
}
.strategies-sect > .container {
}
.strategies-sect-title {
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  margin-bottom: 10px;
}
.strategies-sect-text {
  font-weight: 500;
  /* line-height: 26px; */
  line-height: 1.63;
  color: #22343d;
  max-width: 465px;
  margin-bottom: 40px;
}
.strategies-sect-list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}
.strategies-list-item {
  border: 1px solid #dedede;
  border-radius: 8px;
  width: calc((100% - 30px * 2) / 3); /* змінено з min-width на width */
  /* flex-shrink: 0; */
  overflow: hidden;
}
.strategies-list-item-image {
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 348px;
}
.strategies-list-item-container {
  padding: 24px 27px 40px;
}
.strategies-list-item-signature {
  line-height: 1.75;
  color: #22343d;
  margin-bottom: 12px;
}
.strategies-list-item-signature > span {
  font-weight: 700;
}

.strategies-list-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.46;
  color: #22343d;
}
/* #endregion: Strategies Section */

/* #region: Price Section */
.price-sect {
  padding-top: 89px;
  padding-bottom: 50px;
  text-align: center;
}
.price-sect > .container {
}
.price-sect-title {
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  margin-bottom: 10px;
}
.price-sect-text {
  font-weight: 500;
  color: #22343d;
  margin-bottom: 40px;
}
.price-sect-list {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  gap: 72px;
}
.price-list-item,
.price-list-item * {
  background: #fff;
  color: #22343d;
}
.price-list-item:nth-child(2),
.price-list-item:nth-child(2) * {
  background: #02897a;
  color: #fff;
}
.price-list-item {
  width: calc((100% - 72px * 2) / 3);
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  padding: 32px;
  text-align: center;
}

.price-item-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.66667;
}
.price-item-description {
  line-height: 2.5;
}
.price-item-digit {
  font-weight: 700;
  font-size: 76px;
  line-height: 1.31579;
  letter-spacing: 0em;
  text-align: center;
  color: #02897a;
}
.price-item-sign {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #02897a;
}

.price-digit-container {
  display: flex;
  justify-content: center;
}

.price-item-period {
  line-height: 1.19;
  letter-spacing: 0.01em;
  color: #afafaf;
}
.price-sign-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 7px;
}
.price-item-options-list {
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: 0.01em;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 30px;
}
.price-item-button {
  display: block;
  background: #02897a;
  border-radius: 8px;
  border: 0;
  width: 139px;
  height: 44px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin: 0 auto;
}
.price-list-item:nth-child(2) > .price-item-button {
  color: #02897a;
  background: #fff;
}

/* #endregion: Price Section */

/* #region: Opinions Section */
* {
  /* outline: 1px solid #02897a; */
}
.opinions-sect {
  padding-top: 50px;
  padding-bottom: 50px;
}
.opinion-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.78;
  letter-spacing: 0.01em;
  color: #22343d;
  margin-bottom: 10px;
  text-align: center;
}
.opinion-text {
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.01em;
  color: #22343d;
  margin: 0 auto 40px;
  text-align: center;
}
.opinion-list {
  display: flex;
  gap: 64px;
}
.opinion-list-item {
  padding: 28px 26px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid #dedede;
  border-radius: 5px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  color: #737373;
  width: calc((100% - 64px * 2) / 3);
}
.opinion-item-container {
  display: flex;
  align-items: center;
  gap: 14px;
}
.opinion-item-cont-name {
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #02897a;
}
.opinion-item-cont-role {
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.01em;
  color: #252b42;
}
/* #endregion: Opinions Section */

/* #region: Promo Section */
.promo-sect {
  padding-top: 50px;
  padding-bottom: 50px;
}

.promo-sect > .container {
  border-radius: 32px;
  width: 968px;
  height: 345px;
  background: #02897a;
  padding-left: 51px;
  padding-right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.promo-sect-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.51;
  color: #fff;
  margin-bottom: 46px;
}
.promo-sect-button {
  border-radius: 8px;
  border: 0;
  width: 150px;
  height: 50px;
  background: #fff;
  font-weight: 600;
  font-size: 20px;
  color: #02897a;
}
/* #endregion: Promo Section */

/* #region: Footer */
.footer {
  padding: 50px 0 40px;
}

.footer > .container {
}

.footer-horisontal-cont {
  display: flex;
  align-items: flex-start;
  padding-bottom: 10px;
}

.footer-logo-cont {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}

.footer-logo-image {
  margin-right: 16px;
}

.footer-logo-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
}

.footer-social-cont {
  display: flex;
  gap: 16px;
}

.footer-elastic {
  flex-grow: 1;
}

.footer-nav-resurce,
.footer-nav-legal {
  display: flex;
  flex-direction: column;
  gap: 0;
  line-height: 2.2;
  color: #22343d;
}

.footer-nav-resurce h3,
.footer-nav-legal h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 2.2;
  color: #22343d;
}

.footer-nav-resurce a,
.footer-nav-legal a {
  display: block;
}
.footer-nav-resurce a:hover,
.footer-nav-legal a:hover {
  color: #02897a;
}

.footer-nav-resurce li,
.footer-nav-legal li {
  min-width: 215px;
}

.footer-contact {
  width: 325px;
}

.footer-contact-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 30px;
}

.footer-contact-input {
  display: block;
  width: 100%;
  height: 48px;
  padding-left: 20px;
  margin-bottom: 25px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
}

.footer-contact-button {
  width: 131px;
  height: 39px;
  border: 0;
  border-radius: 4px;
  background: #02897a;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.copyright {
  width: 500px;
  margin: 0 auto;
  line-height: 1.875;
  color: #22343d;
}
/* #endregion: Footer */
