* {
  outline: 1px solid #890202 !important;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-svg-image {
  width: 400px;
  height: 311px;
  background-color: rgb(198, 198, 198);
}
.hero-svg-image use {
  background-color: #fff;
  z-index: 9999;
}
